html, body{
	font-size:16px;
	color: black;
	background-color: #efd8d4; 
}

a {
  color: black;
}

a:hover {
  color: black;
}

section{
	padding-top: 3rem;
	padding-bottom: 3rem;
}
p{
	text-align: center;
}

.section-1 {
	background:  #efd8d4;
}

.section-2 {
	background-color: #f0a8ae;
}

.section-3 {
	background-color: #fcac9c;
}

.section-4 {
	background-color: #f87c54;
}

.section-5 {
	background-color: #efd8d4;
	padding: 0.2rem;
}

a.nav-item {
	color: black;
}

a.nav-item:hover {
	color: black;
	background-color: #f45c3c;
}

hr{
	border: 1px solid black;
}

.avatar{
	height:200px;
	border-radius: 50%;
}

.intro-description{
	padding-top: 1rem;
}

.social-container img{
	max-width:100%;
	max-height:175px;
	margin-bottom:15px;
}

.project-figure {
	margin: 0 auto 1rem auto;
	max-height: 256px;
	max-width: 256px;
}

.project-text {
	text-align: justify;
}

.box {
	background-color: transparent;
	border: 2px solid black;
}

.title {
	color: black;
	text-align: left;
	margin-bottom: 2rem;
}

.intro {
	text-align: justify;
	width: 80%;
	margin: 0 auto;
	text-align: center;
}

.void-background {
	background-color: transparent; 
}

@media screen and (max-width: 768px) {
	.nav-menu {
		background-color: #063647;
	}

	.nav-toggle:hover {
		background-color: transparent;
	}

	.nav-toggle span {
		background-color: #dfdfdf;
	}

	.nav-toggle span:hover {
		background-color: #fff;
	}

}

.iconMax{
		font-size: 20px;
		text-align: center;
}

.divGrande{
	display: inline-block;
}